 <%= render 'users/user_info', user: current_user %>
      
      <!--投稿フォーム始め-->
  <%= render 'books/form', book: @book %>
      <!--投稿フォーム終わり-->
    </div>
    <%= render 'users/index', users: @users%>
  </div>  
</div>